.items {
    list-style: none;
    text-align: left;
    padding-left: 5px;
}

article {
    button, p, input {
        display: inline;
    }
}

.complete {
    text-decoration: line-through;
}

.delete {
    opacity: 0;

    &:hover {
    opacity: 1;
    }
}

.check {
    width:30px;
    height:30px;
    border-radius:15px;
    background:$backgroundColor;

    i {
        opacity: 0;
    }
}
