body {
    background-color: $backgroundColor;
    font-family: $primaryFont;
    position: relative;
}

main {
    border: $innerBorderColor;
    box-shadow: $mainShadow;
    position: relative;
    margin: 0 auto;
    width: $mainWidth;
}

header {
    h1 {
        font-size: $titleFontSize;
        margin: $titleMargin;
        color: $titleTextColor;
        font-weight: lighter;
    }
}


footer {

    &::after {
        clear: both;
        content: '';
        display: table;
    }

    .remaining {
        float: left;
    }


    .clear {
        float: right;
        clear: right;
        margin-top: $clearMarginTop;
    }

}

nav {

    float: left;

    ul {
        list-style: none;
    }

    li {
        float: left;
    }
}
